/*--------------------------------------------------------------------------
	General Style
--------------------------------------------------------------------------*/
html, body { overflow-x: hidden; }

.section {
  padding: 50px 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.section-white {
  background: #FFF;
}
.section .container:first-child h1,
.section .container:first-child h2,
.section .container:first-child h3 {
  margin-top: 0;
  font-weight: 700;
}
.input-micro {
  width: 50px;
  margin-bottom: 0 !important;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(0, 120, 178, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 126, 34, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 126, 34, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 126, 34, 0.6);
  color: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(230, 126, 34, 0.6);
}
ul.no-list-style {
  list-style-type: none;
  margin-left: 0;
}
ul.no-list-style li {
  line-height: 28px;
}
div[class*="span"] {
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  -ms-transition: all .4s linear;
  transition: all .4s linear;
}

.topHr {
  margin: 2em;
}

.bottomHr {
  margin: 4em 2em;
  color: white;
}

/*------
CSS Animations from animate.css
-------*/
@charset "UTF-8";

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@keyframes rotateIn {
  0% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: rotate3d(0, 0, 1, -200deg);
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateInDownLeft {
  0% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  100% {
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
}

.rotateInDownLeft {
  -webkit-animation-name: rotateInDownLeft;
  animation-name: rotateInDownLeft;
}


/*--------------------------------------------------------------------------
	Typography Style
--------------------------------------------------------------------------*/
body {
  font-family: 'Droid Serif', serif;
  font-size: 14px;
  line-height: 20px;
  color: #535b60;
}
h1 {
  color: #333;
  font-weight: 400;
}
h2 {
  color: #333;
  font-size: 2em;
  border-bottom: 2px solid #111;
  line-height: 1.5em;
  margin: 30px 0;
  padding-left: 10px;
}
h3 {
  color: #333;
  font-size: 1.5em;
}
h4 {
  color: #333;
  margin-bottom: 10px;
}
a {
  color: #9DE0D7;
}
a:hover {
  color: #608BD1;
  text-decoration: none;
}

p {
  font-family: 'Lato', sans-serif;
  color: white;
}

.about-text {
  font-family: 'Droid Serif', serif;
}

b {
  color: #fff;
}

li {
  color: #222;
}

/*--------------------------------------------------------------------------
+	Canvas Style
--------------------------------------------------------------------------*/
#about-header {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .75);
  margin: 0;
  border-bottom: 1px solid #fff;
}

#about-header h2{
  text-decoration: none;
  border: none;
}

.heading {
  background-image: url(../img/xv.png);
  box-shadow: inset 0 0 0 1000px rgba(215, 162, 84, .4);
  padding: 1.5em 0 2.5em 0;
  margin: 0 auto;
  text-align: center;
  border-bottom: 2px solid #111;
  border-top: 2px solid #111;
}

@media (min-width :1400px) {
  .heading h1 {
    padding-top: 10%;
  }
}

.heading h2 {
  margin-top: 1em;
  color: #fff;
  border-bottom: none;
  text-shadow: 2px 2px 3px #333;
}

.heading p {
  margin:1em 9%;
  color: #333;
  line-height: 2;
  font-size: 1.8em;  
}

@media (max-width: 770px) {
  .heading p {
    margin: 1em 10%;
    line-height: 2;
    font-size:1.6em;
  }
}

.splash-img {
  margin-top: 1.5em;
  box-shadow: 2px 2px 3px #333;
  border-radius: 10em;
  border: 10px solid aliceblue;
  width: 12em;
}

@media (min-width :1000px) {
  canvas#main-canvas {
    height: 50vh;
  }

  .heading h4 {
    margin:1em 20%;
  }
}
/*--------------------------------------------------------------------------
+	Skills Style
--------------------------------------------------------------------------*/
/* Multicolumn */

#skills {
  background-image: url(../img/yellow.jpg);
  background-size: cover;
}

.skills-home {
  min-height: 67vh;
  width: 100%;
  padding-left: 3em;
  padding-right: 3em;
}
.skills-wrapper {
  background: #FFF;
  margin: 2.5em auto;
  text-align: center;
  padding: 60px 30px;
  font-size: 1.4em;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 2px 2px 3px #222;
  -moz-box-shadow: 2px 2px 3px #222;
  box-shadow: 2px 2px 3px #222;
  color: 0 0 3px #999;
  max-width: 300px;
  background-image: url(/img/subtle_white_feathers.png);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
}

#skills-header {
  background-image: url(/img/xv.png);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .8);
  margin: 0;
  margin-bottom: 4em;
  border-bottom: 1px solid #111;
} 

@media (max-width: 992px) {
  .skills-wrapper {
    margin: 2em auto;
  }
  #skills-header {
    margin: 0;
  } 
}

.skills-wrapper:hover {
  -webkit-box-shadow: 0px 0px 30px #222;
  -moz-box-shadow: 0px 0px 30px #222;
  box-shadow: 0px 0px 30px #222;
  background-image: none;
  background-color: #fff;
}

.skills-wrapper img {
  width: 100px;
}
.skills-wrapper h3 {
  font-size: 1.2em;
  margin: 10px 0 !important;
}
.skills-wrapper p {
  margin-top: 0;
}
/* Row */
.skills-wrapper-row {
  padding: 10px 0;
}
.skills-wrapper-row h3 {
  padding-top: 15px;
}

.skills-wrapper-row .skills-image {
  padding-top: 15px;
  text-align: center;
}
.skills-wrapper-row .skills-image img {
  max-width: 80%;
  vertical-align: bottom;
  bottom: 0;
  border: 7px solid #FFF;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: 0 0 8px #999;
  -moz-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  color: 0 0 8px #999;
}

.skills-wrapper h3 {
  color: #111;
  font-weight: 200;
  text-shadow: 1px 1px 2px #333;
}

.skills-wrapper h3 {
  text-shadow: 1px 1px 2px #555;
}


/* Navigation */
#tf-menu {
  padding: 9px;
  transition: all 0.8s;
}
#tf-menu.navbar-default {
  background-color: #111;
  border-color: #b0ddce;

}
#tf-menu a.navbar-brand {
  letter-spacing: .05em;
  color: #B0DDCE;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  text-shadow: 2px 2px 3px #000;
}

@media (min-width: 346px) {
  #tf-menu a.navbar-brand {
    font-size: 36px;
  }
}


@media (max-width: 345px){
  #tf-menu a.navbar-brand {
    font-size: 30px;
  }
};


.first-name {
  padding-right: .4em;
}

#tf-menu.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  color: #9DE0D7;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 3px #444;
}

#tf-menu.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
} 
.on {
  background-color:rgba(25,25,25,1)!important;
  padding: 0 !important;
  border-color: #222 !important;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
  color: #b0ddce !important;
  background-color: transparent;
  font-weight: 700;
}

.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
  background-color: #b0ddce;
  border-color: #b0ddce;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
  background-color: #FFF;
}

#home li a:hover {
  color: #608BD1;
}

/*--------------------------------------------------------------------------
+	Animation Style
--------------------------------------------------------------------------*/
.animation-home {
  margin: 2em;
  padding: 2em;
}
.animation {
  width: 25em;
}

.animation.open-add {
  transition: padding 350ms linear;
}

.animation.open-add-active,
.animation.open {
  padding-left: 250px;
}



/*--------------------------------------------------------------------------
+	Portfolio Style
--------------------------------------------------------------------------*/

.related-list li {
  list-style: none;
  color: #B0DDCE;
}

.portfolio-item {
  max-width: 400px;
  position: relative;
  background: #ddd;
  margin-bottom: 20px;
  border: 8px solid #ddd;
  padding-bottom: 2px;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6, 4px 4px 6px #444;
  -moz-box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6, 4px 4px 6px #444;
  box-shadow: inset 0 1px #fff,0 0 8px #c8cfe6, 4px 4px 6px #444;
  color: inset 0 1px #fff,0 0 8px #c8cfe6;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}
.portfolio-item .portfolio-image {
  overflow: hidden;
  text-align: center;
  position: relative;
  border: 1px solid #ddd;
  border-radius: .3em .3em 0 0;
  background: #333;
}
.portfolio-item .portfolio-image img {
  max-width: 100%;
/*  max-height: 196px;*/
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  border-radius: .3em .3em 0 0;
}

.related-heading {
  padding-top: 3em;
}

@media (max-width: 991px) {
  .portfolio-item{
    margin: 2em auto;
  }
}


@media (max-width: 767px) {

  .portfolio-item {
    margin: 1.5em auto;
  }
  
  .single-item {
    width: 80%;
  }
}
@media (max-width: 500px) {

  .related-list {
    width: 100%;
    margin-left: 0;
    padding-left: 0
  }
  
  .related-item {
    width: 100%;
  }
}

.portfolio-item:hover {
  box-shadow: 5px 5px 30px #444;
  -webkit-transform: scale(1.0095);
  -moz-transform: scale(1.0095);
  -o-transform: scale(1.0095);
  -ms-transform: scale(1.0095);
  transform: scale(1.0095);
}

.portfolio-item:hover .portfolio-image img {
  position: relative;
  -webkit-transform: scale(1.1) rotate(2deg);
  -moz-transform: scale(1.1) rotate(2deg);
  -o-transform: scale(1.1) rotate(2deg);
  -ms-transform: scale(1.1) rotate(2deg);
  transform: scale(1.1) rotate(2deg);
}
.portfolio-item ul {
  list-style-type: none;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  padding: 0;
}
.portfolio-item ul li {
  line-height: 28px;
}
.portfolio-item .portfolio-project-name {
  font-size: 1.3em;
}
.portfolio-item .read-more {
  text-align: center;
  padding-top: 10px;
}
.portfolio-item .portfolio-info-fade {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  top: 0;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  color: #FFF;
  text-shadow: 2px 2px 4px #000000;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.portfolio-item .portfolio-info-fade ul {
  margin-top: 10%;
}
.portfolio-item .portfolio-info-fade .btn:hover {
  background: #9DE0D7;
}
.portfolio-item .portfolio-info-fade ul {
  margin: 10% 20px 0 20px;
  padding: 0;
}
.portfolio-item .portfolio-info-fade ul li {
  text-align: center;
}
.portfolio-item .portfolio-info-fade ul li:first-child {
  border-bottom: 1px solid #CCC;
}
.portfolio-item:hover .portfolio-info-fade {
  display: block;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.lt-ie9 .portfolio-info-fade {
  display: none;
}
.lt-ie9 .portfolio-item:hover .portfolio-info-fade {
  display: block;
}
.portfolio-visit-btn {
  padding-top: 15px;
}
.portfolio-item-description ul {
  padding: 0;
}

.portfolio-item-description p {
  font-size: 1.4em;
  line-height: 1.3;
}

.portfolio-container {
  min-height: 88vh;
  background-image: url(/img/scribble_light.png);
  box-shadow: inset 0 0 0 1000px rgba(56, 143, 115, .65);
}

@media(min-width: 900px) {

  .animate-filter.ng-hide-add,
  .animate-filter.ng-hide-remove{
    transition: .9s ease-in-out;
  }
  .animate-filter.ng-hide-remove {
    transition-delay: .95s;
  }

  .animate-filter.ng-hide-add-active,
  .animate-filter.ng-hide-remove{
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    margin-right: -33%;
    opacity: 0;
  }

  .animate-filter.ng-hide-remove-active {
    animation-name: rotateInDownLeft;
    -webkit-animation-name: rotateInDownLeft;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 1.01s;
    -webkit-animation-delay: 1.01s;
    margin-right: inherit;
    opacity: 1;
  }
}

@media(max-width: 899px) and (min-width: 751px) {

  .animate-filter.ng-hide-add,
  .animate-filter.ng-hide-remove{
    transition: 1s ease-in-out;
  }
  .animate-filter.ng-hide-remove {
    transition-delay: 1.01s;
  }

  .animate-filter.ng-hide-add-active,
  .animate-filter.ng-hide-remove{

    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    margin-right: -50%;
    opacity: 0;
  }

  .animate-filter.ng-hide-remove-active {
    animation-name: pulse;
    -webkit-animation-name: pulse;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 1.01s;
    -webkit-animation-delay: 1.01s;
    margin-right: inherit;
    opacity: 1;
  }

}

@media(max-width: 750px) {
  .animate-filter.ng-hide-add,
  .animate-filter.ng-hide-remove{
    transition: 1s ease-in-out;
  }
  .animate-filter.ng-hide-remove {
    transition-delay: 1.1s;
  }

  .animate-filter.ng-hide-add-active,
  .animate-filter.ng-hide-remove{
    margin-right: inherit;
    opacity: 0;
  }

  .animate-filter.ng-hide-remove-active {
    margin-right: inherit;
    opacity: 1;
  }
}




.portfolio-list {
  list-style: none;
  padding:0;
}

#portfolio {
  padding-left: 0;
}

.heading-container {
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: white;
  background-image: url(../img/xv.png);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .75);
  width: 100%;
  margin: 0 0em 4em -1em;
  border-top: 2px solid #000;
}

#portfolio-header {
  width: 100vw;
}

.heading-container a:hover,
.heading-container a:focus {
  color:azure;
  text-decoration:none;
  text-shadow: 2px 2px 3px #222;
}

.heading-container a {
  text-shadow: 2px 2px 3px #222;
}

.heading-container h2,
.heading-container h3 {
  color: white;
  text-shadow: 3px 3px 3px #000;
  letter-spacing: .2em;
  line-height: 1.4
}

.heading-container h2 {
  margin: .5em 15% 0 15%;
  border-bottom: 1px solid white;
  padding-bottom: .1em;
}

.heading-container h3 {
  margin:.2em;
}

.filter {
  background-color:rgba(0,0,0,0.3);
  padding-top: 0em;
  margin-bottom: 0;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding-left: 0;
}

.filter li {
  list-style: none;
  text-align: center;
  margin: .2em 1em;
  display: inline-block;
}

@media (max-width: 351px){
  .filter li {
    display: block;
    letter-spacing: .25em;
  }
  .filter i {
    padding-right: 0.6em;
  }
}

.filter i {
  padding-right: 0.4em;
}


/*******
Item Page

**********/

.item-page {
  background-image: url(/img/subtle_white_feathers.png);
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .3);
}
.single-item {
  max-width:none;
}
.single-item:hover {
  box-shadow: 7px 7px 16px #333;
  border-color: #444;
}

/*--------------------------------------------------------------------------
+	Breadcrumbs Section Style
--------------------------------------------------------------------------*/
.section-breadcrumbs {
  background: #111;
  padding-bottom: .95em;
  box-shadow: 2px 2px 2px #444;
}
.section-breadcrumbs h1 {
  color: #FAFAFA;
  font-size: 1.6em;
  margin-bottom: 0;
  text-transform: none;
}
/*--------------------------------------------------------------------------
	Footer Style
--------------------------------------------------------------------------*/
.footer {
  background-image: url(../img/classy_fabric.png);
  color: #A0A0A0;
  padding: 0 20px 10px 20px;
  border-top: 1px solid #111;
  -webkit-box-shadow: 0 -1px 12px rgba(0,0,0,1);
  -moz-box-shadow: 0 -1px 12px rgba(0,0,0,1);
  box-shadow: 0 -1px 12px rgba(0,0,0,1);
  color: 0 -1px 12px rgba(0,0,0,.04);
  margin-top: 0;
}

.footer-item {
  max-height: 10em;
  max-width: 16em;
  border-color: #333;
}

.footer-item:hover {
  border-color: #1e614d;
}

.footer-image {
  max-height: 8em;
  max-width: 15em;
  margin:auto;
}
.footer h3 {
  color: #E4E4E4;
  font-size: 1.3em;
  border-bottom: 1px dotted #7C7C7C;
}
.footer ul {
  padding: 0;
}
.footer-navigate-section li {
  line-height: 20px !important;
}
.footer-stay-connected a {
  text-align: left;
  display: inline-block;
  width: 70px;
  height: 40px;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  -webkit-transition: opacity .25s linear;
  -moz-transition: opacity .25s linear;
  -o-transition: opacity .25s linear;
  -ms-transition: opacity .25s linear;
  transition: opacity .25s linear;
}
.footer-stay-connected a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.footer-stay-connected a.github {
  height:70px;
  margin-bottom: .5em;
}

.footer-stay-connected a.linkedin {
  height:70px;
}
.footer-stay-connected li {
  text-align: center;
}
.footer-copyright {
  text-align: center;
  color: #7C7C7C;
  border-top: 1px dotted #7C7C7C;
  padding-top: 10px;
  font-size: 0.9em;
}
/*--------------------------------------------------------------------------
+	Pagination Style (overrides Bootstrap style)
--------------------------------------------------------------------------*/
.pagination-wrapper {
  margin-top: 15px;
  text-align: center;
}
.pagination > li > a,
.pagination > li > span {
  border: none;
  border-bottom: 3px solid #FFF;
  color: #666666;
  margin-left: 0;
  margin-bottom: 5px;
  -webkit-transition: all .25s linear;
  -moz-transition: all .25s linear;
  -o-transition: all .25s linear;
  -ms-transition: all .25s linear;
  transition: all .25s linear;
}
.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background: #FFF;
}
.pagination > li > a:hover {
  border-bottom: 3px solid #666666;
}
.pagination > .active > a,
.pagination > .active > span {
  color: #666666;
  border-bottom: 3px solid #e67e22;
}
.pagination > .disabled > a {
  border-color: #fff;
}
.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  margin-bottom: 0;
  color: #C9C9C9;
  background-color: #FFF;
  cursor: default;
}

/*--------------------------------------------------------------------------
+	Custom Style for Tabs (overrides Bootstrap)
--------------------------------------------------------------------------*/
.nav-tabs > li > a {
  font-size: 1.1em;
  padding: 10px 15px;
  color: #535b60;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  font-weight: 600;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-top: 3px solid #e67e22;
  border-bottom-color: transparent;
  cursor: default;
}
/*--------------------------------------------------------------------------
+	404 Page Style
--------------------------------------------------------------------------*/
.error-page-wrapper {
  font-size: 1.5em;
  font-weight: 600;
  margin: 100px 0;
  text-align: center;
}
/*--------------------------------------------------------------------------
+	Homepage Slider Style (modified sequencejs CSS). Sorry, no LESS here
--------------------------------------------------------------------------*/

.carousel-container {
  border-bottom: 1px solid #444;
  padding-bottom: 1.5em;
  width: 100%;
  background-image: url(/img/classy_fabric.png);
}

.carousel-indicators {
  bottom: -1.7em;
}

.carousel-indicators .active {
  background-color: #fff;
  border-color: #111;
  width: 21px;
  height: 21px;
  margin: auto 1em;
}

.carousel-indicators li {
  background-color: #B0DDCE;
  border-color: #111;
  width: 20px;
  height: 20px;
  margin: auto 1em;
}

#slide-image {
  width: 100%;
  max-height: 90vh;
/*
  -webkit-box-shadow: 0px 0px 171px 72px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 171px 72px rgba(0,0,0,1);
  box-shadow: 0px 0px 171px 72px rgba(0,0,0,1);
*/
  border-bottom: 1px solid black;
}

@media(max-width: 1200px) {
  #slide-image {
    max-height: 43em;
  }
}
@media (max-width: 900px) {
  #slide-image {
    height:78vh;
    width:100%;
    
  }
  
  .carousel-container {
    padding-bottom: 13vh;
  }
}
/*--------------------------------------------------------------------------
+	Buttons Style
--------------------------------------------------------------------------*/
.btn {
  /*  border: 1px solid #fff;*/
  -webkit-border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 2px;
  -moz-background-clip: padding;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  text-transform: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
  text-align: center;
  background: #F2DB51;
  text-shadow: none;
  box-shadow: 2px 2px 3px #444;
  color: #333;
  white-space: nowrap;
  font-weight: 600;
}
.btn:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  font-weight: 300;
  border: 1px solid #3b3c41;
}
.btn .caret {
  border-top: 4px solid #FFF;
}
.btn-micro {
  padding: 1px 8px;
  font-size: 10px;
}
.btn-grey {
  border: 1px solid #cecece;
  color: #333;
  background: none repeat scroll 0 0 #E7E7E7;
}
.btn-grey:hover {
  background: none repeat scroll 0 0 #cecece;
  color: #333;
  text-decoration: none;
  border: 1px solid #cecece;
}
.btn-grey .caret {
  border-top: 4px solid #333;
}
.btn-blue {
  border: 1px solid #3e7191;
  color: #FFF;
  background: none repeat scroll 0 0 #4F8DB3;
}
.btn-blue:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-orange {
  border: 1px solid #B26200;
  color: #FFF;
  background: none repeat scroll 0 0 #FF8C00;
}
.btn-orange:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-green {
  border: 1px solid #4c5818;
  color: #FFF;
  background: none repeat scroll 0 0 #6E8023;
}
.btn-green:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-red {
  border: 1px solid #ab0d0d;
  color: #FFF;
  background: none repeat scroll 0 0 #DA1111;
}
.btn-red:hover {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
  text-decoration: none;
  border: 1px solid #3b3c41;
}
.btn-group.open .btn.dropdown-toggle {
  background: none repeat scroll 0 0 #3b3c41;
  color: #FFF;
}
.dropdown.open a.dropdown-toggle .caret {
  border-top: 4px solid #FFF;
}


/*
Sprite images
*/

/* Generated by http://responsive-css.spritegen.com Responsive CSS Sprite Generator */

.git-icon-svg-min-shadow, .html5-logo-min-shadow, .angular-js-min-shadow, .css3-logo-min-shadow, .github-white, 
.linkedin
{ max-width: 100%; background-size: 100%; background-image: url('/img/spritemap.png'); }

.git-icon-svg-min-shadow { background-position: 0 0%; background-size: 100%; }
.html5-logo-min-shadow { background-position: 0 26.746988%; background-size: 100%; }
.angular-js-min-shadow { background-position: 0 53.493976%; background-size: 100%; }
.css3-logo-min-shadow { background-position: 0 80.240964%; background-size: 100%; }
.github-white { background-position: 0 91.546392%; background-size: 250%; }
.linkedin { background-position: 0 100%; background-size: 250%; }


