<!-- Top Border -->
<div class="section section-breadcrumbs">
  <div class="container">
  </div>
</div>

<!-- Bootstrap Portfolio Carousel-->
<div class="carousel-container">
  <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
    <uib-slide ng-repeat="slide in slides" active="slide.active">
      <a href="" smooth-scroll-jquery target="portfolio" offset="30" speed="1000" ng-click="setId(slide.id)">
        <img id="slide-image" ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide.title}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </a>
    </uib-slide>
  </uib-carousel>
</div>

<!-- Skills -->
<div class="section" id="skills">
  <div class="container">
    <div class="row">
      <h2 class="skills-heading">My Skills</h2>
      <hr class="topHr">
      <div class="col-md-3 col-sm-6">
        <div class="skills-wrapper">
          <img src="img/logos/css3-logo-min-shadow.png" alt="skills 1">
          <div class="skills-text">
            <h3>CSS3, Bootstrap, &amp; SASS</h3>
            <p class="tk-soleil">Ability to create responsive and attractive websites from scratch or with the help of Bootstrap templates and styling options to add professional aesthetics quickly. </p>
          </div>
<!--          <a href="#" class="btn"><i class="fa fa-circle"></i> Read more</a>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="skills-wrapper">
          <img src="img/logos/angular-js-min-shadow.png" alt="skills 2">
          <div class="skills-text tk-adobe-caslon-pro">
            <h3>Javascript &amp; JS Frameworks</h3>
            <p class="tk-soleil">Experience and understanding of Javascript, Angular, and JQuery, as well as how to take advantage of them to integrate APIs and enhance usibility.</p>
          </div>
<!--          <a href="#" class="btn"><i class="fa fa-circle-o"></i> Read more</a>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="skills-wrapper">
          <img src="img/logos/HTML5_logo-min-shadow.png" alt="skills 3">
          <div class="skills-text">
            <h3>HTML &amp; HTML5</h3>
            <p class="tk-soleil">Mastery of the unique challenges and opportunities that HTML5 has to offer to create readable, semantic code which graceful transitions backward in older browsers.</p>
          </div>
<!--          <a href="#" class="btn"><i class="fa fa-circle"></i> Read more</a>-->
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="skills-wrapper">
          <img src="img/logos/Git_icon.svg-min-shadow.png" alt="skills 3">
          <div class="skills-text">
            <h3>Version Control &amp; Testing</h3>
            <p class="tk-soleil">Well versed in using Git/Github as version control as well as Protractor end to end and Karma unit testing to provide protection and documentation for projects.</p>
          </div>
<!--          <a href="#" class="btn"><i class="fa fa-circle-o"></i> Read more</a>-->
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="bottomHr">
<!-- End skills -->

<div>
  <div class="container-fluid">
   <div class="row filter-container">
     <div class="col-md-12" id="portfolio">
       <h2 class="tk-soleil">Portfolio</h2>
        <h3>Select a project type to filter the view.</h3>
      </div>
      <div class="clearfix"></div>
      <ul class="filter">

        <li class="col-md-2 col-md-offset-1"><a href="" ng-click="filter = 'all'; hideItems()"><i class="fa fa-circle-o"></i>  All</a></li>
        <li class="col-md-2"><a href="" ng-click="filter = 'CSS';"><i class="fa fa-pencil"></i>  CSS</a></li>
        <li class="col-md-2"><a href="" ng-click="filter = 'API'"><i class="fa fa-server"></i>  APIs</a></li>
        <li class="col-md-2"><a href="" ng-click="filter = 'data'"><i class="fa fa-database"></i>  Data Manipulation</a></li>
        <li class="col-md-2"><a href="" ng-click="filter = 'JS'"><i class="fa fa-coffee"></i>  JavaScript</a></li>
        <div class="clearfix"></div>
      </ul>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="portfolio-list">
        <li ng-repeat="project in projects">
          <!-- Item 1 -->
          <div ng-show="filter === project.type || filter === project.type2 || filter === 'all'" class="col-md-4 col-sm-6 animate-filter">
            <div class="portfolio-item">
              <div class="portfolio-image">
                <a ng-click="paths()" ng-href="#/portfolio_items/{{project.id}}/{{project.type}}"><img ng-src="./img/project_screenshots/{{project.image}}" alt="{{project.title}}"></a>
              </div>
              <div class="portfolio-info">
                <ul>
                  <li class="portfolio-project-name"><strong>{{project.title}}</strong></li>
                  <li>{{project.shortTech}}</li>
                  <li class="read-more"><a ng-click="paths()" ng-href="#/portfolio_items/{{project.id}}/{{project.type}}" class="btn">Read more</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<div id="about">
<!--  <canvas id="main-canvas"></canvas>-->
  <div class="heading" id="canvas-text">

    <p class="about-text">Hi, my name is Matt and I love working on websites. I have learned a great deal about working in the front-end through the Thinkful front-end career course and various other online resources. Throughout my learning, I have proven myself to be an adept learner and able to quickly use new knowledge for practical results. I love working in the front-end and particularly enjoy using the AngularJS framework.
    </p>
  
    <img class="splash-img" src="img/profile_picture.jpg">
    <div class="clearfix"></div>
  </div>
</div>