<!-- Top Border -->
<div class="section section-breadcrumbs">

</div>

<!-- Bootstrap Portfolio Carousel-->
<div class="carousel-container">
  <uib-carousel interval="myInterval" no-wrap="noWrapSlides" ng-swipe-left="next()" ng-swipe-right="prev()">
    <uib-slide ng-repeat="slide in slides" active="slide.active">
      <a href="" smooth-scroll-jquery target="portfolio" offset="30" speed="1000" ng-click="setId(slide.id)">
        <img id="slide-image" ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide.title}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </a>
    </uib-slide>
  </uib-carousel>
</div>

<!-- Skills -->
<div id="skills">
  <div class="row heading-container" id="skills-header">
    <div class="col-md-12">
      <h2>My Skills</h2>
      <h3>Select a category to read more.</h3>
    </div>
  </div>
  <div class="skills-home">
    <div class="row">
      <a data-toggle="modal" data-target="#css">
        <div class="col-md-3 col-sm-6">
          <div class="skills-wrapper css-wrapper">
            <img class="css3-logo-min-shadow" alt="skills 1" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADcAQMAAAAP0XxQAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwYEAAAAAw6D5U1/hAFUBAAAAAMBvFlgAAZlquSoAAAAASUVORK5CYII=">
            <div class="skills-text">
              <h3>CSS3 &amp; Bootstrap</h3>
            </div>
          </div>
        </div>
      </a>
      <a data-toggle="modal" data-target="#javascript">
        <div class="col-md-3 col-sm-6">
          <div class="skills-wrapper js-wrapper">
            <img class="angular-js-min-shadow" alt="skills 2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADcAQMAAAAP0XxQAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwYEAAAAAw6D5U1/hAFUBAAAAAMBvFlgAAZlquSoAAAAASUVORK5CYII=">
            <div class="skills-text">
              <h3>JS &amp; AngularJS</h3>
            </div>
          </div>
        </div>
      </a>
      <a data-toggle="modal" data-target="#html">
        <div class="col-md-3 col-sm-6">
          <div class="skills-wrapper html-wrapper">
            <img class="html5-logo-min-shadow" alt="skills 3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADcAQMAAAAP0XxQAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwYEAAAAAw6D5U1/hAFUBAAAAAMBvFlgAAZlquSoAAAAASUVORK5CYII=">
            <div class="skills-text">
              <h3>HTML &amp; HTML5</h3>
            </div>
          </div>
        </div>
      </a>
      <a data-toggle="modal" data-target="#git">
        <div class="col-md-3 col-sm-6">
          <div class="skills-wrapper git-wrapper">
            <img class="git-icon-svg-min-shadow" alt="skills 3" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADcAQMAAAAP0XxQAAAAA1BMVEX///+nxBvIAAAAAXRSTlMAQObYZgAAABxJREFUeNrtwYEAAAAAw6D5U1/hAFUBAAAAAMBvFlgAAZlquSoAAAAASUVORK5CYII=">
            <div class="skills-text">
              <h3>GitHub &amp; Testing</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- End skills -->

<!-- Modal -->
<div ng-repeat="skill in skills">
  <div class="modal fade" ng-attr-id={{skill.id}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{skill.title}}</h4>
        </div>
        <div class="modal-body">
          {{skill.description}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="portfolio-container">
  <div class="container-fluid">
    <div class="row heading-container" id="portfolio-header">
      <div class="col-md-12" id="portfolio">
        <h2>Portfolio</h2>
        <h3>Select a project type to filter the view.</h3>
      </div>
      <div class="clearfix"></div>
      <ul class="filter">

        <li class="col-md-2 col-md-offset-1"><a href="" ng-click="filter = 'all'; hideItems()"><i class="fa fa-circle-o"></i>  All</a></li>
        <li class="col-md-2"><a href="" ng-click="filter = 'CSS';"><i class="fa fa-pencil"></i>  CSS</a></li>
        <li class="col-md-2"><a href="" ng-click="filter = 'API'"><i class="fa fa-server"></i>  APIs</a></li>
        <li class="col-md-2"><a href="" ng-click="filter = 'data'"><i class="fa fa-database"></i>  Data Manipulation</a></li>
        <li class="col-md-2"><a href="" ng-click="filter = 'JS'"><i class="fa fa-coffee"></i>  JavaScript</a></li>
        <div class="clearfix"></div>
      </ul>

    </div>
  </div>
  <div class="container">
    <div class="row">
      <ul class="portfolio-list">
        <li ng-repeat="project in projects">
          <!-- Item 1 -->
          <div ng-show="filter === project.type || filter === project.type2 || filter === 'all'" class="col-md-4 col-sm-6r animate-filter">
            <div class="portfolio-item">
              <div class="portfolio-image">
                <a ng-click="buttonHide(project.id, project.type)"><img ng-src="./img/project_screenshots/{{project.image}}" alt="{{project.title}}"></a>
              </div>
              <div class="portfolio-info">
                <ul>
                  <li class="portfolio-project-name"><strong>{{project.title}}</strong></li>
                  <li>{{project.shortTech}}</li>
                  <li class="read-more"><a ng-click="buttonHide(project.id, project.type)"class="btn">Read more</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


<div id="about">
  <div class="row heading-container" id="about-header">
    <div class="col-md-12">
      <h2>About Me</h2>
    </div>
  </div>
  <!--  <canvas id="main-canvas"></canvas>-->
  <div class="heading" id="canvas-text">

    <p class="about-text">Hi, my name is Matt and I love working on websites. I have learned a great deal about working in the front-end through the Thinkful front-end career course and various other online resources. I have proven myself to be an adept learner and able to quickly use new knowledge for practical results. I love working in the front-end and particularly enjoy using the AngularJS framework.
    </p>

    <img class="splash-img" src="img/profile_picture.jpg">
    <div class="clearfix"></div>
  </div>
</div>