<!-- Page Title -->
<div class="section section-breadcrumbs">
  <div class="container">

  </div>
</div>

<div class="section item-page">
  <div class="container">
    <div class="row" ng-repeat="project in projects" ng-show="item === '{{project.id}}'">
      <!-- Image Column -->
      <div class="col-sm-6">
        <div class="portfolio-item single-item">
          <div class="portfolio-image">
            <a ng-click="" ng-href="./sites/{{project.siteName}}"><img ng-click="" id="main" ng-src="./img/project_screenshots/{{project.image}}" alt="{{project.title}}"></a>
          </div>
        </div>
      </div>
      <!-- End Image Column -->
      <!-- Project Info Column -->
      <div class="portfolio-item-description col-sm-6">
        <h3>{{project.title}}</h3>
        <p> {{project.description1}}
        </p>
        <p> {{project.description2}}
        </p>
        <ul class="no-list-style">
          <li><b>Date:</b> {{project.date}}</li>
          <li><b>Technologies:</b> {{project.shortTech}}</li>
          <li class="portfolio-visit-btn"><a ng-href="./sites/{{project.siteName}}" class="btn">Visit Website</a></li>
        </ul>
      </div>
      <!-- End Project Info Column -->
    </div>
    <!-- Related Projects -->
    <h3 class="related-heading">Related Projects</h3>
    <div class="row">
    <ul class="related-list">
      <li ng-repeat="project in projects" ng-show="type === '{{project.type}}' && item !== '{{project.id}}'">
        <div class="col-md-4 col-sm-6">
          <div class="portfolio-item related-item">
            <div class="portfolio-image">
              <a href="#"><img ng-src="./img/project_screenshots/{{project.image}}" alt="{{project.title}}"></a>
            </div>
            <div class="portfolio-info-fade">
              <ul>
                <li class="portfolio-project-name">{{project.title}}</li>
                <li>{{project.shortTech}}</li>
<!--                <li>Client: Some Client LTD</li>-->
                <li class="read-more"><a ng-click="scroll(); buttonHide(project.id, project.type)" ng-href="#/portfolio_items/{{project.id}}/{{project.type}}" class="btn">Read more</a></li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
    </div>
    <!-- End Related Projects -->
    <h3 class="related-heading">Other Projects</h3>
    <div class="row">
      <ul class="related-list">
        <li ng-repeat="project in projects" ng-show="type !== '{{project.type}}' && item !== '{{project.id}}'">
          <div class="col-md-4 col-sm-6">
            <div class="portfolio-item related-item">
              <div class="portfolio-image">
                <a href="#"><img ng-src="./img/project_screenshots/{{project.image}}" alt="{{project.title}}"></a>
              </div>
              <div class="portfolio-info-fade">
                <ul>
                  <li class="portfolio-project-name">{{project.title}}</li>
                  <li>{{project.shortTech}}</li>
                  <!--                <li>Client: Some Client LTD</li>-->
                  <li  class="read-more"><a ng-href="#/portfolio_items/{{project.id}}/{{project.type}}" ng-click="scroll(); buttonHide(project.id, project.type)" class="btn">Read more</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    
  </div>
</div>