<!-- Top Border -->
<div class="section section-breadcrumbs">
    <div class="container">

    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
          <!-- Item 1 -->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                        <a href="page-portfolio-item.html"><img src="./img/project_screenshots/amazing_arbors.PNG" alt="Amazing Arbors website"></a>
                    </div>
                    <div class="portfolio-info">
                        <ul>
                            <li class="portfolio-project-name">Amazing Arbors Website</li>
                            <li>HTML &amp; CSS with Bootstrap</li>
                            <li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    <!-- Item 2 -->
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                      <a href="page-portfolio-item.html"><img src="./img/project_screenshots/bird_that_flaps.PNG" alt="Bird That Flaps website"></a>
                    </div>
                    <div class="portfolio-info">
                        <ul>
                            <li class="portfolio-project-name">Bird That Flaps</li>
                          <li>HTML &amp; CSS with Bootstrap</li>
                            <li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                      <a href="page-portfolio-item.html"><img src="./img/project_screenshots/calendar_directives.png" alt="Project Name"></a>
                    </div>
                    <div class="portfolio-info">
                        <ul>
                            <li class="portfolio-project-name">Project Name</li>
                            <li>HTML &amp; CSS with Bootstrap</li>
<!--                            <li>Client: Some Client LTD</li>-->
                            <li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                      <a href="page-portfolio-item.html"><img src="./img/project_screenshots/countries_and_capitals_borderfix.png" alt="Project Name"></a>
                    </div>
                    <div class="portfolio-info">
                        <ul>
                            <li class="portfolio-project-name">Project Name</li>
                            <li>Website design & Development</li>
<!--                            <li>Client: Some Client LTD</li>-->
                            <li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                      <a href="page-portfolio-item.html"><img src="./img/project_screenshots/angular_instagram.png" alt="Project Name"></a>
                    </div>
                    <div class="portfolio-info">
                        <ul>
                            <li class="portfolio-project-name">Project Name</li>
                            <li>Website design & Development</li>
<!--                            <li>Client: Some Client LTD</li>-->
                            <li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="portfolio-image">
                      <a href="page-portfolio-item.html"><img src="./img/project_screenshots/Halloween_quiz.png" alt="Project Name"></a>
                    </div>
                    <div class="portfolio-info">
                        <ul>
                            <li class="portfolio-project-name">Project Name</li>
                            <li>Website design & Development</li>
<!--                            <li>Client: Some Client LTD</li>-->
                            <li class="read-more"><a href="page-portfolio-item.html" class="btn">Read more</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>