<!-- Testimonials-->
<!-- Homepage Slider -->
<div class="homepage-slider" id="recs">
  <sequence id="sequence" pages="true" auto-play="true" animate-starting-frame-in="true">
    <ul class="sequence-canvas" id="testimonial">
      <!-- Slide 1 -->
      <li class="bg9">
        <!-- Slide Title -->
        <h2 class="title">Matt made my site look nice.</h2>
        <!-- Slide Text -->
        <h3 class="subtitle">Brandon</h3>
      </li>
      <!-- End Slide 1 -->
      <!-- Slide 2 -->
      <li class="bg9">
        <!-- Slide Title -->
        <h2 class="title">Matt can do cool things with a computer.</h2>
        <!-- Slide Text -->
        <h3 class="subtitle">Jeremy</h3>
      </li>
      <!-- End Slide 2 -->
      <!-- Slide 3 -->
      <li class="bg9">
        <!-- Slide Title -->
        <h2 class="title">Matt is pretty neat.</h2>
        <!-- Slide Text -->
        <h3 class="subtitle">Marius </h3>
      </li>
      <!-- End Slide 3 -->
    </ul>
    <div class="sequence-pagination-wrapper">
      <ul class="sequence-pagination">
        <li>1</li>
        <li>2</li>
        <li>3</li>
      </ul>
    </div>
  </sequence>
</div>
<!-- End Homepage Slider -->